apiVersion: 1
datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    user: ${INFLUX_USERNAME}
    password: ${INFLUX_PASSWORD}
    isDefault: true
    version: 2
    editable: true
    jsonData:
      version: Flux
      organization: ${INFLUX_ORG}
      defaultBucket: bike_data
      timeInterval: "1s"
    secureJsonData:
      token: ${INFLUX_TOKEN}
